<!-- Header responsivo -->
<app-header></app-header>
 <router-outlet></router-outlet>
    <form #formcontacto="ngForm" (ngSubmit)="onSubmit()">
    <div class=" w-full h-full flex justify-center">
        <div class="mx-4 my-4 px-2 py-2 border-gray-400 border-2 border-solid flex-col w-64  shadow-lg flex justify-center rounded-md">
        <p class="text-center">Deja un mensaje en este formulario y con gusto me comunicaré contigo</p>
        <p>Nombre</p>
        <input class="border-2 border-4 border-solid shadow-md rounded-md" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="contacto.nombre">
        <p>Correo Electrónico</p>
        <input class="border-2 border-4 border-solid shadow-md rounded-md"  type="text" name="correo" #correo="ngModel" [(ngModel)]="contacto.correo">
        <p>Teléfono</p>
        <input class="border-2 border-4 border-solid shadow-md rounded-md" type="text" name="telefono" #telefono="ngModel" [(ngModel)]="contacto.telefono">
        <p>Asunto</p>
        <input class="border-2 border-4 border-solid shadow-md rounded-md" type="text" name="asunto" #asunto="ngModel" [(ngModel)]="contacto.asunto">
        <p>Mensaje</p>
        <input class="border-2 border-4 border-solid shadow-md rounded-md h-64" type="text" name="mensaje" #mensaje="ngModel" [(ngModel)]="contacto.mensaje">
        
        <input type="submit" value="Enviar" class="border-grey-700 border-2 border-solid w-24 h-8 rounded-md shadow-lg px-2  mx-2 my-2 bg-gray-600 text-white">
        </div>
        </div>
        
    </form>

