<!-- Header responsivo -->
<app-header></app-header>
 <router-outlet></router-outlet>
    
 <!-- Card con referencias --> 

<div class="container p-3 mx-auto my-auto flex flex-row md:flex-no-wrap items-center justify-center border-black border-2 border-dashed flex-wrap">
    <div class="max-w-sm rounded overflow-hidden shadow-lg border-black border-solid border-2 md:mr-3">
        <img class="w-full h-auto m-0" [src]="imagenmuestra" alt="imagenmuestra">
        <div class="font-bold  text-xl mb-2 p-3 m-2">
            Los mejores atardeceres de la tierra
        </div>
        <p class="p-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor laboriosam porro assumenda, aspernatur nobis ad facere ipsa et aliquam id, officiis neque repellat a laborum natus vero maxime quae pariatur!</p>
        
    </div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg border-black border-solid border-2 ">
        <img class="w-full h-auto m-0" [src]="imagenmuestra" alt="imagenmuestra">
        <div class="font-bold  text-xl mb-2 p-3 m-2">
            Los mejores atardeceres de la tierra
        </div>
        <p class="p-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor laboriosam porro assumenda, aspernatur nobis ad facere ipsa et aliquam id, officiis neque repellat a laborum natus vero maxime quae pariatur!</p>
        
    </div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg border-black border-solid border-2 ">
        <img class="w-full h-auto m-0" [src]="imagenmuestra" alt="imagenmuestra">
        <div class="font-bold  text-xl mb-2 p-3 m-2">
            Los mejores atardeceres de la tierra
        </div>
        <p class="p-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor laboriosam porro assumenda, aspernatur nobis ad facere ipsa et aliquam id, officiis neque repellat a laborum natus vero maxime quae pariatur!</p>
        
    </div>

</div>
