<div class="w-full h-32 sm:h-16 " style="background-image: url(../assets/imagenes/portada.jpg);">
    <header class="text-white items-center justify-around flex text-center ">
          <i class="fa fa-user fa-2x "><a [routerLink]="['/perfil']" class="block">¿Quien soy?</a></i>
   <i class="fa fa-paperclip fa-2x"><a [routerLink]="['/proyectos']" class="block">Proyectos</a></i>
   <i class="fa fa-envelope fa-2x"><a [routerLink]="['/contacto']" class="block">Contacto</a></i>
   <i class="fa fa-book fa-2x"><a [routerLink]="['/curriculum']" class="block">Curriculum</a></i>
   <i class="fa fa-folder-open fa-2x"><a [routerLink]="['/blog']" class="block">Blog de aprendizaje</a></i>
   </header>
</div>

<div class="container text-justify inline-block text-2xl" style="font-family: 'Montserrat', sans-serif;">
    <p class="text-center">¿Quien soy?</p>
    <p>He dedicado los últimos 10 años de mi vida al estudio de la informática, pero no te explico más,
        en el siguiente video puedes conocer un poco más de mi.</p>
</div>
<div class="container , mx-auto flex justify-center   w-64 h-64">
    <video src="http://v2v.cc/~j/theora_testsuite/320x240.ogg" controls>
        Tu navegador no implementa el elemento <code>video</code>.
    </video>
</div>
<div class="container flex  ml-0 h-auto flex-wrap ">
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto mt-4 border-gray-600 border-2 border-solid">
        <div class="flex justify-center w-auto  " style="font-family: 'Montserrat', sans-serif;">
            <img class="w-64" src="../assets/imagenes/portada.jpg" alt="portada">
        </div>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Referencaias</div>
            <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio sit
                corporis doloremque esse. Eveniet veniam, ipsam ab, aspernatur iusto quas harum incidunt in quidem id
                reprehenderit, ad odit ea!</p>
        </div>
        <div class="px-6 py-4">
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Ejemplo</span>
        </div>
    </div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto mt-4 border-gray-600 border-2 border-solid">
        <div class="flex justify-center ">
            <img class="w-64" src="../assets/imagenes/portada.jpg" alt="portada">
        </div>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Referencias</div>
            <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio sit
                corporis doloremque esse. Eveniet veniam, ipsam ab, aspernatur iusto quas harum incidunt in quidem id
                reprehenderit, ad odit ea!</p>
        </div>
        <div class="px-6 py-4">
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Ejemplo</span>
        </div>
    </div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto mt-4 border-gray-600 border-2 border-solid">
        <div class="flex justify-center ">
            <img class="w-64" src="../assets/imagenes/portada.jpg" alt="portada">
        </div>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Referencias</div>
            <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio sit
                corporis doloremque esse. Eveniet veniam, ipsam ab, aspernatur iusto quas harum incidunt in quidem id
                reprehenderit, ad odit ea!</p>
        </div>
        <div class="px-6 py-4">
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Ejemplo</span>
        </div>
    </div>
</div>