<!-- Header responsivo -->
<header>
    <div class="h-32  text-white bg-center bg-cover flex justify-center items-center flex-col" style="background-image: url(../assets/imagenes/portada.jpg);">
        <div class=" mx-2 text-2xl sm:text-3xl lg:text-4xl tracking-widest sm:mx-auto  flex justify-around">
        <i class="fa fa-user text-center ml-6 mr-1 sm:mr-3  lg:ml-2"><a [routerLink]="['/perfil']" class="block">Yo</a></i>
        <i class="fa fa-paperclip  text-center mr-1 sm:mr-3 lg:ml-2"><a [routerLink]="['/proyectos']" class="block">Webs</a></i>
        <i class="fa fa-envelope text-center mr-1 sm:mr-3 lg:ml-2"><a [routerLink]="['/contacto']" class="block">Info</a></i>
        <i class="fa fa-book  text-center mr-1 sm:mr-3 lg:ml-2"><a [routerLink]="['/curriculum']" class="block">CV</a></i>
        <i class="fa fa-folder-open  text-center mr-auto lg:ml-2 "><a [routerLink]="['/blog']" class="block">Blog</a></i>
    </div>
    </div>
    </header>
    

<div class="container text-justify inline-block text-2xl" style="font-family: 'Montserrat', sans-serif;">
    <p class="text-center">¿Quien soy?</p>
    <p>He dedicado los últimos 10 años de mi vida al estudio de la informática, pero no te explico más,
        en el siguiente video puedes conocer un poco más de mi.</p>
</div>
<div class="container , mx-auto flex justify-center   w-64 h-64">
    <video src="http://v2v.cc/~j/theora_testsuite/320x240.ogg" controls>
        Tu navegador no implementa el elemento <code>video</code>.
    </video>
</div>
<div class="container flex  ml-0 h-auto flex-wrap ">
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto mt-4 border-gray-600 border-2 border-solid">
        <div class="flex justify-center w-auto  " style="font-family: 'Montserrat', sans-serif;">
            <img class="w-64" src="../assets/imagenes/portada.jpg" alt="portada">
        </div>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Referencaias</div>
            <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio sit
                corporis doloremque esse. Eveniet veniam, ipsam ab, aspernatur iusto quas harum incidunt in quidem id
                reprehenderit, ad odit ea!</p>
        </div>
        <div class="px-6 py-4">
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Ejemplo</span>
        </div>
    </div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto mt-4 border-gray-600 border-2 border-solid">
        <div class="flex justify-center ">
            <img class="w-64" src="../assets/imagenes/portada.jpg" alt="portada">
        </div>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Referencias</div>
            <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio sit
                corporis doloremque esse. Eveniet veniam, ipsam ab, aspernatur iusto quas harum incidunt in quidem id
                reprehenderit, ad odit ea!</p>
        </div>
        <div class="px-6 py-4">
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Ejemplo</span>
        </div>
    </div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto mt-4 border-gray-600 border-2 border-solid">
        <div class="flex justify-center ">
            <img class="w-64" src="../assets/imagenes/portada.jpg" alt="portada">
        </div>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Referencias</div>
            <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio sit
                corporis doloremque esse. Eveniet veniam, ipsam ab, aspernatur iusto quas harum incidunt in quidem id
                reprehenderit, ad odit ea!</p>
        </div>
        <div class="px-6 py-4">
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Ejemplo</span>
        </div>
    </div>
</div>