 <!-- Header responsivo -->
 <app-header></app-header>
 <router-outlet></router-outlet>

<!-- Div con imagene de perfil y descripcion -->
<div
    class=" px-2 py-2 flex items-center justify-center relative mx-auto flex-wrap grid flex-col bg-contain bg-center inline ">
    <p class="text-center text-3xl text-blue-500 font-bold k " style="font-family: 'Abel', sans-serif;">Ing Benjamín
        Castañeda</p>
    <div class="flex justify-center">
        <img class="bg-cover  w-full h-64 border solid border-black flex mt-2"
            src="../assets/imagenes/perfil_benjamin.png">
    </div>
    <p class="text-center text-3xl text-blue-500 font-semibold" style="font-family: 'Abel', sans-serif;">Desarrollador Web Profesional</p>
    <div class="mt-6 text-center text-2xl text-blue-500 font-semibold">


    </div>
</div>

 <!-- 
Menu secundario con links a diferentes páginas -->
 
 <div class="container mx-auto px-4 mb-4" >
<div class="border-black border-2 border-solid flex-flow-col flex justify-around text-center items-center h-auto p-5 mt-2 mb-2  gap-2 flex-wrap"  style="background:#918888;">
    <a  href="{{herramienta.link}}"  *ngFor="let herramienta of herramientas " class="h-12 rounded-lg border-black border-2 border-solid botonestilo w-48   flex items-center justify-center">{{herramienta.mensaje}}</a>
</div>

    
</div>
<!-- 
Cuadro de descripción inicial -->

<div class="container  mx-auto lg:p-20 h-auto "  style="background:#918888;">
    <div class="bg-white border-black border-2 border-solid  p-3 sm:text-base sm:text-justify text-xs lg:text-2xl text-center leading-loose" style="font-family: 'Abel', sans-serif;">
        

        <ul>
            <li class="p-3" *ngFor="let parrafo of parrafos">
                {{parrafo.contenido}}
            </li>
        </ul>

        
    </div>
</div>

     <!-- <div *ngIf="mostrarframework==0" class="bg-green-500 hover:bg-green-600 rounded-full mx-2 my-4   border-black border-2 border-solid  w-64 h-8 flex items-center justify-center">
        <a  (click)="cambiarframework(1)" class="">Frameworks<i class="fa fa-arrow-down"></i></a>
      </div>
      <div *ngIf="mostrarframework==1" class="flex justify-center">
        <ul  class="text-center"> 
            
            <li>{{experiencia[0].categoria}}</li>
            <li>{{experiencia[0].lenguaje}}</li>
            <li>{{experiencia[1].lenguaje}}</li>
            <li>{{experiencia[2].lenguaje}}</li>
            <a class="text-center" (click)="cambiarframework(0)" class=""> <i class="fa fa-arrow-up"></i></a>
           </ul>

           
    </div> -->


     





